body{
  background-image: url('../public/background.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 18vmin);
  color: white;
  font-family: Agbalumo;
  width: 50%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}